.container {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 3px solid rgb(123, 0, 255); /*видалити*/
  justify-content: center;
  align-items: center;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header {
  color: rgb(42, 42, 152);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: -30px;
  margin-bottom: -30px;
}
.item-name {
  display: flex;
  flex-wrap: wrap;
}

.color-button {
  background-color: blueviolet;
  border-radius: 10px;
}
